<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Administradores</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="centrar color_fondo mantener_top">
        <input type="text" class="buscador"> 
        <input type="submit" class="boton_texto_1" value="Buscar">
    </div>
    <div class="mantener_centro color_fondo centrar">
        <h1 class="titulo_texto"> Perfil de Buscado </h1>
        <input type="submit" class="boton_texto_2" value="Eliminar Administrador">
    </div>
    <div class="contenedor_columna">
        <div class="columna_izq color_fondo centrar margen">
                <h2> imagen </h2>
        </div>
        <div class="columna_der color_fondo centrar margen">
            <label for="" class="subtitulo_texto">Agregar Comentario</label><br>
            <textarea name="" id="" cols="50" rows="3" class="tamaño_textarea" ></textarea><br>
            <input type="submit" class="boton_texto_1" value="agregar Comentario"><br>
            <label for="" class="subtitulo_texto"> Lista de Comentarios </label><br>
            <textarea name="" id="" cols="60" rows="15" class="tamaño_comentarios" ></textarea><br>
        </div>
    </div>
    <div class="centrar color_fondo mantener_abajo">
        <input type="submit" class="boton_texto_2" value="Perfil de Usuario"> 
    </div>
</body>
</html>