<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Pogna</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="centrar color_fondo mantener_top">
        <h1 class="titulo_texto"> Social Pogna </h1>
    </div>
    <div class="caja_pequeña color_fondo centrar" >
        <label for="" class="subtitulo_texto"> Usuario </label>
        <input type="text" required> <br>
        <label for="" class="subtitulo_texto"> Contraseña </label>
        <input type="password" required> <br>
        <input type="submit" class="boton_texto_1" value="Ingresar"><br>
    </div>
    <div class="centrar color_fondo mantener_abajo">
    <input type="submit" class="boton_texto_2" value="Registrarse">
    </div>
</body>
</html>