<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="centrar color_fondo mantener_top">
        <h1 class="titulo_texto"> Registro </h1>
    </div> 
    <div class="caja_pequeña color_fondo centrar">
        <label for="" class="subtitulo_texto" class="centrar" > Usuario </label>
        <input type="text" required> <br>
        <label for="" class="subtitulo_texto" > Contraseña </label>
        <input type="password" required> <br>
        <input type="radio" class="separador_circulos" name="tipo" id="usuario" > <label for="usuario" class="parrafo_texto"> Usuario </label><br>
        <input type="radio" class="separador_circulos" name="tipo" id="admin"> <label for="admin" class="parrafo_texto"> Administrador </label><br>
        <input type="radio" class="separador_circulos" name="tipo" id="super_admin"> <label for="super_admin" class="parrafo_texto"> Super Administrador </label><br>
        <input type="submit" class="boton_texto_1" value="Regristrarse">
    </div>
    <div class="centrar color_fondo mantener_abajo">
        <h2 class="titulo_texto" id="titulo_inferior"> Social Pogna </h2> 
    </div>
</body>
</html>