<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="centrar color_fondo mantener_top">
        <h1 class="titulo_texto" id="titulo_superior"> Perfil de Usuario </h1> 
        <input type="submit" class="boton_texto_2" value="Mensajes">
    </div>
    <div class="caja_agregar_imagen color_fondo centrar">
        <input type="submit" class="boton_agregar_imagen" value="Subir Imagen">
    </div>
    <div class="contenedor_columna">
        <div class="columna_izq color_fondo centrar margen">
                <h2> imagen </h2>
        </div>
        <div class="columna_der color_fondo centrar margen">
            <label for="" class="subtitulo_texto">Agregar Comentario</label><br>
            <textarea name="" id="" cols="50" rows="3" class="tamaño_textarea" ></textarea><br>
            <input type="submit" class="boton_texto_1" value="agregar Comentario"><br>
            <label for="" class="subtitulo_texto"> Lista de Comentarios </label><br>
            <textarea name="" id="" cols="60" rows="15" class="tamaño_comentarios" ></textarea><br>
        </div>
    </div>
    <div class="contenedor_columna">
        <div class="columna_izq color_fondo centrar margen">
                <h2> imagen </h2>
        </div>
        <div class="columna_der color_fondo centrar margen">
            <label for="" class="subtitulo_texto">Agregar Comentario</label><br>
            <textarea name="" id="" cols="50" rows="3" class="tamaño_textarea" ></textarea><br>
            <input type="submit" class="boton_texto_1" value="agregar Comentario"><br>
            <label for="" class="subtitulo_texto"> Lista de Comentarios </label><br>
            <textarea name="" id="" cols="60" rows="15" class="tamaño_comentarios" ></textarea><br>
        </div>
    </div>
    <div class="contenedor_columna">
        <div class="columna_izq color_fondo centrar margen">
                <h2> imagen </h2>
        </div>
        <div class="columna_der color_fondo centrar margen">
            <label for="" class="subtitulo_texto">Agregar Comentario</label><br>
            <textarea name="" id="" cols="50" rows="3" class="tamaño_textarea" ></textarea><br>
            <input type="submit" class="boton_texto_1" value="agregar Comentario"><br>
            <label for="" class="subtitulo_texto"> Lista de Comentarios </label><br>
            <textarea name="" id="" cols="60" rows="15" class="tamaño_comentarios" ></textarea><br>
        </div>
    </div>
    <div class="centrar color_fondo mantener_abajo">
        <h2 class="titulo_texto" id="titulo_inferior"> Social Pogna </h2> 
        <input type="submit" class="boton_texto_2" value="Busqueda">
    </div>
</body>
</html>